body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1A1F2B;
}
a{
  text-decoration: none;
  color: #fff;
}
//NAVIGATION
.navigation {
  height: 110vh;
  margin: -0px 0 0 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  pointer-events: none;
  position: fixed;
  background-image: linear-gradient(to right, #482569 ,#2A46B2);
  color: rgba($color: #ffffff, $alpha: .5);
  font-size: 200px;
  cursor: pointer;
  margin-top: -100px;
  transition: .3s ease-in-out;
}
.menu {
  display: none;
}

.menu-text {
  display: none;
}
.nav-button {
  height: 100px;
  display: grid;
  color: #fff;
  place-items: center;
  transform: rotate(-90deg);
  font-size: 1.6rem;
  pointer-events: auto;
  transition: .3s ease-in;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-button:hover {
  transform: rotate(0deg);

}
.navigation:hover {
  width: 150px;
  
}
//  HOME PAGE
.page-container {
  width: 200vmin;
  height: 100vh;
  background: #000444;
  padding: 10vh 0 0 20vmin;
  margin: -32px 0 0 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.emotionz {
  height: 70vh;
  width: 90vh;
  background: #fff;
  animation: horizontal 1s;
  position: relative;
}
.home-artist {
  bottom: 0;
  position: fixed;
  transform: translate(110vmin, 0px);
}
#skew {
  height: 70vh;
  width: 30vh;
  transform: skewX(10deg);
  background: #fff;
  animation: vertical 1s;
  position: relative;
}

.sparkles{
  animation: vertical-two 1s;
  width: 300px;
  height: 300px;
  background: url('assets/sparkles.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#spark-1{
  transform: translate(-50vmin, 0);
}
.spotlight{
  animation: horizontal-two 1s;
  width: 1500px;
  height: 800px;
  opacity: 0.05;
  background: url('assets/spotlight.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: rotate(30deg);
}
#spotlight{
  transform: translate(0px, -120vh); 
}


//  ANIMATIONS
@keyframes horizontal {
  from {left: -100px;}
  to {left: 0px;}
}
@keyframes horizontal-two {
  from {left: 300px;}
  to {left: 0px;}
}
@keyframes vertical{
  from {bottom: -50vh;}
  to {bottom: 0px;}
  // 0%   {top: 0px; background: red; width: 100px;}
  // 100% {top: 200px; background: yellow; width: 300px;}
}
@keyframes vertical-two{
  from {top: -400px;}
  to {top: 0px;}
}


@media screen and (max-width: 600px) {

  //  NAVIGATION
  .navigation {
    display: none;
  }
  #toggle {
    display: none;
  }
  .menu {
    margin: 0 auto;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    bottom: 0;
    transform: translate(42vmin, 45vh);
    position: fixed;
    z-index: 99;
    font-family: 'Big Shoulders Stencil Display', cursive;
  }

  .btn {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    overflow: hidden;
    position: absolute;
  }

  .material-icons.md-36 {
    font-size: 16px;
  }

  .btn {
    background: #03a9f4;
    color: #FFF;
    font-size: 1.4em;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
 
  }

  .btn:not(:first-child) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -2;
    -webkit-transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
    transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  }

  .btn:nth-child(2) {
    top: 0px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .btn:nth-child(3) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .btn:nth-child(4) {
    left: 0px;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .btn:nth-child(5) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .btn:nth-child(6) {
    top: 0px;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  .btn:nth-child(7) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .btn:nth-child(8) {
    left: 0px;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .btn:nth-child(9) {
    top: 0px;
    left: 0px;
    -webkit-transition-delay: 0.2;
    transition-delay: 0.2s;
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(2) {
    top: -150px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(3) {
    top: -100px;
    left: 100px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(4) {
    left: 150px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(5) {
    top: 100px;
    left: 100px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(6) {
    top: -75px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(7) {
    top: -120px;
    left: -75px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(8) {
    left: -150px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(9) {
    top: -70px;
    left: -130px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  .menuBtn,
  .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
  }

  .closeBtn {
    transform: translateY(50px);
    opacity: 0;
  }

  input#toggle:checked ~ #show-menu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
  }

  input#toggle:checked ~ #show-menu .btn .closeBtn {
    transform: translateY(0px);
    opacity: 1;
  }

  //  HOME PAGE
  .page-container {
    width: 100%;
    padding: 0;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
  .emotionz {
    width: 90%; 
    height: 40vh;
    animation: vertical-two 1s;
  }
  .home-artist {
    transform: translate(0vmin, 0px);
  }
  #skew {
    height: 50vh;
    width: 30vh;
    transform: skewX(10deg);
    animation: horizontal 1s;
    position: relative;
    z-index: -99;
  }

}
