body {
  margin: 0;
  padding: 0;
  background-color: #1a1f2b;
}

* {
  font-family: "Bebas Neue", cursive;
}

a {
  text-decoration: none;
  color: #fff;
}

/* //NAVIGATION */

.navigation {
  height: 100vh;
  width: 72px;
  padding-top: 5vh;
  padding-left: 1vw;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  border: 0px;
  font-size: 2rem;
  transition: 0.3s ease-in-out;
  list-style: none;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.05em;
  z-index: 99;
}

.logo {
  margin-left: 2vw;
  background-image: url("assets/logobw.svg");
  width: 400px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: translate(2vmin, 0px);
}

.nav-link {
  height: 100px;
  width: 100%;
  display: grid;
  place-items: center;
  color: white;
  padding-top: 5vh;
  padding-bottom: 5vh;
  transform: rotate(-90deg);
  transition: 0.3s ease-in;
  list-style-type: square;
  list-style: none;
  pointer-events: auto;
  text-transform: uppercase;
}

.nav-link:hover {
  transform: rotate(0deg);
}

ul {
  list-style-type: none;
}

.menu-mobile {
  display: none;
}

.menu-text {
  display: none;
}

/* .nav-link {
  height: 100px;
  width: 100%;
  display: grid;
  color: #fff;
  place-items: center;
  transform: rotate(-90deg);
  font-size: 1.6rem;
  pointer-events: auto;
  transition: 0.3s ease-in;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
} */

.nav-link:hover {
  transform: rotate(0deg);
  color: red;
  transition: 0.5s ease-in-out;
}

.contain {
  overflow: hidden;
  height: 100vh;
}

/* //  HOME PAGE */

.page-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: url("assets/title.png");
  background-image: url("assets/background.png");
  padding: 5vw 0 0 20vmin;
  display: grid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.emotionz {
  height: 5vh;
  width: 100%;
  animation: horizontal 1s;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  transform: translate(0vmin, 0);
}

.homePageTitle {
  height: 50vh;
  width: 50vw;
  transform: translate(-90vmin, 70vh);
  background: url("assets/title.png");
  background-repeat: no-repeat;
}

.home-artist {
  bottom: 0;
  position: fixed;
  transform: translate(80vmin, 20px);
}

#skew {
  height: 90vh;
  width: 48vh;
  z-index: 99;
  background: url("assets/harry.png");
  animation: vertical 1s;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: auto;
}

.green {
  width: 100vmin;
  height: 200px;
  position: relative;
  opacity: 1;
  transform: translate(10vmin, 80vh);
  z-index: -99;
  animation: 0.01s horizontal-three infinite;
}

.audience {
  height: 200px;
  width: 900px;
  z-index: -99;
  bottom: 0;
  opacity: 0.8;
  transform: translate(-90vmin, 0px);
  background-image: url("assets/SL3grad.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  animation: horizontal 1s;
  animation: vertical-four 8s infinite;
}

.sparkles {
  animation: vertical-two 3s;
  width: 300px;
  height: 300px;
  top: -5vh;
  background: url("assets/sparkles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: rotate(10deg);
}

#spark-1 {
  transform: translate(50vmin, -5vh);
}

#spark-2 {
  transform: translate(37vmin, -2vh);
}

#spark-3 {
  transform: translate(39vmin, -7vh);
}

#spotlight {
  transform: translate(-30vmin, -25vh) rotate(350deg);
}

/* //  ANIMATIONS */

@keyframes horizontal {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}

@keyframes horizontal-two {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}

@keyframes horizontal-three {
  0% {
    background-image: linear-gradient(90deg, #1a1f2b10, #03c4a1);
  }
  100% {
    background-image: linear-gradient(90deg, #1a1f2b30, #03c4a1);
  }
}

@keyframes vertical {
  from {
    bottom: -50vh;
  }
  to {
    bottom: 0px;
  }
}

@keyframes vertical-two {
  from {
    top: -400px;
  }
  to {
    top: -5vh;
  }
}

@keyframes vertical-four {
  0% {
    background-image: url("assets/SL3grad.png");
  }
  55% {
    background-image: url("assets/SL2grad.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("assets/SL3grad.png");
  }
}

@media screen and (max-width: 600px) {
  /* //  NAVIGATION FOR MOBILE */
  .navigation {
    display: none;
  }
  .logo {
    display: none;
  }
  #toggle {
    display: none;
  }
  .menu-mobile {
    margin: 0 auto;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    bottom: 0;
    transform: translate(42vmin, 40vh);
    position: fixed;
    z-index: 99;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.05em;
  }
  .mobile-nav-text {
    color: red;
  }
  .btn {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    overflow: hidden;
    position: absolute;
  }
  .btn {
    background: url("assets/title.png");
    color: #fff;
    font-size: 1.4em;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .btn:not(:first-child) {
    opacity: 0;
    z-index: -2;
    transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  }
  .btn:nth-child(2) {
    top: 0px;
    transition-delay: 0s;
  }
  .btn:nth-child(3) {
    top: 0px;
    left: 0px;
    transition-delay: 0.1s;
  }
  .btn:nth-child(4) {
    left: -0px;
    transition-delay: 0.2s;
  }
  .btn:nth-child(5) {
    top: 0px;
    left: -500px;
    transition-delay: 0.3s;
  }
  .btn:nth-child(6) {
    top: -170px;
    left: -125px;
    transition-delay: 0.4s;
  }
  .btn:nth-child(7) {
    top: 0px;
    left: 0px;
    transition-delay: 0.1s;
  }
  .btn:nth-child(8) {
    left: 0px;
    transition-delay: 0.3s;
  }
  .btn:nth-child(9) {
    top: 0px;
    left: 0px;
    transition-delay: 0.2s;
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(2) {
    top: -175px;
    left: -25px;
    opacity: 1;
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(3) {
    top: -0px;
    left: -0px;
    opacity: 1;
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(4) {
    top: -125px;
    left: -75px;
    opacity: 1;
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(5) {
    top: 100px;
    left: 100px;
    opacity: 1;
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(6) {
    top: -70px;
    opacity: 1;
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(7) {
    top: -120px;
    left: -75px;
    opacity: 1;
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(8) {
    left: -150px;
    opacity: 1;
  }
  input#toggle:checked ~ #show-menu .btn:nth-child(9) {
    top: -70px;
    left: -130px;
    opacity: 1;
  }
  .menuBtn,
  .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
  }
  .closeBtn {
    transform: translateY(50px);
    opacity: 0;
  }
  input#toggle:checked ~ #show-menu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
  }
  input#toggle:checked ~ #show-menu .btn .closeBtn {
    transform: translateY(0px);
    opacity: 1;
  }
  /* //  HOME PAGE */
  .contain {
    overflow: hidden;
    display: grid;
    place-items: center;
  }
  .page-container {
    width: 100%;
    padding: 0;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
  .emotionz {
    width: 110vmin;
    height: 29vh;
    animation: vertical-two 1s;
    transform: translate(-210vmin, 10vh);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .homePageTitle {
    width: 45vh;
    height: 35vh;
    transform: translate(0vmin, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home-artist {
    transform: translate(0vmin, 0px);
  }
  #skew {
    height: 50vh;
    width: 30vh;
    transform: translate(-0vmin, -0vh);
    animation: horizontal 1s;
    position: relative;
    z-index: -99;
  }
  .green {
    height: 100px;
    bottom: 0;
    opacity: 0.4;
    transform: translate(0vmin, 0vh);
    position: fixed;
  }
  .nav-link {
    display: none;
  }
  .audience {
    transform: translate(0vmin, 0px);
    width: 600px;
  }
}

/* --------------------------------------------------------------------------------------------------------  */

/* Events Page  */

/* --------------------------------------------------------------------------------------------------------  */

#eventsPage {
  height: 100%;
  background-image: linear-gradient(
    125deg,
    #590995,
    #1a1f2b,
    #1a1f2b,
    #1a1f2b,
    #03c4a1
  );
  height: 100%;
  padding-top: 10vh;
  color: white;
}

/* ---------------------------- Events Page Columns -------------------- */

.eventsPageColumnOne {
  height: 100%;
  padding-left: 2vw;
  padding-top: 8vh;
  width: 80vw;
  display: inline-block;
}

.eventsPageColumnTwo {
  width: 10vw;
  display: inline-block;
  position: fixed;
}

/* ---------------------------- Events Page Title -------------------- */

#eventsTitle {
  background-color: rgba(0, 0, 0, 0.205);
  z-index: 98;
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

#eventsPageTitle {
  font-size: 60px;
}

#eventsPageSubTitle {
  font-size: 40px;
  padding-left: 5vw;
}

/* ---------------------------- Event Block -------------------- */

#eventsBlock {
  display: inline-block;
  height: 100%;
  margin-left: 80px;
}

#eventsImage {
  height: 25vh;
}

#eventsBlock:hover {
  background-color: rgba(0, 0, 0, 0.308);
  display: inline-block;
}

/* ---------------------------- Event Side Panel -------------------- */

.eventsEventSidePanel {
  display: inline-block;
  width: 100%;
}

.eventsGenre {
  width: 100%;
}

#eventsName {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(255, 255, 255)
  );
}

#eventsNameGenre {
  width: 100%;
}

/* ---------------------------- Events Page Mobile -------------------- */

@media screen and (max-width: 600px) {
  #eventsPage {
    padding-left: 20px;
    background-image: linear-gradient(
      #03c4a1,
      #1a1f2b,
      #1a1f2b,
      #c40337,
      #1a1f2b
    );
  }
  #eventsTitle {
    padding-left: 0;
  }
  #eventsPageTitle {
    font-size: 40px;
  }
  #eventsPageSubTitle {
    font-size: 25px;
    padding-left: 15vh;
  }
  #artistBlock {
    margin-left: 5vh;
  }
  .eventsPageColumnTwo {
    display: none;
  }
}

/* --------------------------------------------------------------------------------------------------------  */

/* Artists Page  */

/* --------------------------------------------------------------------------------------------------------  */

#artistsPage {
  height: 100%;
  background-image: linear-gradient(
    125deg,
    #590995,
    #1a1f2b,
    #1a1f2b,
    #1a1f2b,
    #03c4a1
  );
  height: 100%;
  padding-top: 10vh;
  color: white;
}

/* ---------------------------- Artist Page Columns -------------------- */

.artistsPageColumnOne {
  height: 100%;
  padding-left: 10vw;
  padding-top: 8vh;
  width: 80vw;
  display: inline-block;
}

.artistsPageColumnTwo {
  width: 10vw;
  display: inline-block;
  position: fixed;
}

/* ---------------------------- Artists Page Title -------------------- */

#artistsTitle {
  background-color: rgba(0, 0, 0, 0.205);
  z-index: 98;
  padding-top: 2vh;
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

#artistsPageTitle {
  padding-top: 1vh;
  font-size: 60px;
}

#artistsPageSubTitle {
  font-size: 40px;
  padding-left: 5vw;
}

/* ---------------------------- Artist Block -------------------- */

#artistBlock {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.13);
  margin-left: 20px;
  margin-bottom: 20px;
}

#artistBlock:hover {
  background-color: rgba(56, 18, 73, 0.842);
}

#artistEventDate {
  font-size: 2vh;
  padding-left: 12vw;
  color: black;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgb(255, 255, 255)
  );
}

#artistName {
  font-size: 5vh;
  background-image: linear-gradient(
    -32deg,
    rgb(125, 14, 252),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgb(233, 33, 33)
  );
}

/* ---------------------------- Artist Event Side Panel -------------------- */

.artistEventSidePanel {
  display: inline-block;
  width: 100%;
}

.artistGenre {
  width: 100%;
}

#genreName {
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(255, 255, 255)
  );
}

#artistNameGenre {
  width: 100%;
}

/* ---------------------------- Artists Page Mobile -------------------- */

@media screen and (max-width: 600px) {
  #artistsPage {
    padding-bottom: 5vh;
    background-image: linear-gradient(
      #03c4a1,
      #1a1f2b,
      #1a1f2b,
      #c40337,
      #1a1f2b
    );
  }
  #artistsTitle {
    background-color: rgba(0, 0, 0, 0.637);
    z-index: 98;
    padding-top: 2vh;
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  #artistsPageTitle {
    font-size: 5vh;
  }
  #artistsPageSubTitle {
    font-size: 2vh;
    padding-left: 25vw;
  }
  #artistEventDate {
    font-size: 2vh;
    padding-left: 50vw;
    color: black;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 0),
      rgb(255, 255, 255)
    );
  }
  #artistBlock {
    margin-left: 2vw;
  }
  .artistsPageColumnTwo {
    display: none;
  }
}

/* --------------------------------------------------------------------------------------------------------  */

/* Single Artist Page Styling  */

/* --------------------------------------------------------------------------------------------------------  */

.singleArtistPage {
  height: 200vh;
  background-image: linear-gradient(
    125deg,
    #590995,
    #1a1f2b,
    #1a1f2b,
    #1a1f2b,
    #03c4a1
  );
  height: 100%;
  color: white;
}

.singleArtistPostTitle {
  height: 12vh;
  padding-left: 45vw;
  font-size: 12vh;
}

/* ---------------------------- Single Artist Rows -------------------- */

.singleArtistRow {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.singleArtistRow2 {
  display: flex;
  height: 100vh;
  width: 100vw;
  display: flex;
}

/* ---------------------------- Single Artist Columns -------------------- */

.singleArtistCol1 {
  height: 50vh;
  width: 100%;
  display: inline-block;
}

.singleArtistCol2 {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-image: linear-gradient(
    125deg,
    #951909,
    #1a1f2b,
    #1a1f2b,
    #1a1f2b,
    #03c4a1
  );
}

.singleArtistCol3 {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-image: linear-gradient(125deg, #951909, #1a1f2b, #1a1f2b, #1a1f2b);
}

.singleArtistCol4 {
  height: 100%;
  width: 100%;
  display: inline-block;
  background-image: linear-gradient(125deg, #1a1f2b, #1a1f2b, #1a1f2b, #1e56ce);
}

/* ---------------------------- Single Artist Details -------------------- */

.artistCoverImage {
}

.ArtistEventLocation {
  padding-left: 2vw;
}

.ArtistEventLocationDetails {
  padding-left: 2.5vw;
}

.ArtistEventTime {
  padding-left: 2vw;
}

.ArtistEventTimeDetails {
  padding-left: 2.5vw;
}

.ArtistEventPrice {
  padding-left: 2vw;
}

.ArtistEventPriceDetails {
  padding-left: 2.5vw;
}

/* buttons */

/* ---------------------------- Single Artist Button Styling  -------------------- */

.ArtistButtons {
  padding: 2vh;
  display: grid;
}

.shareButton {
  margin: 20px;
  border-style: none;
  color: white;
  font-size: 2vh;
  border-radius: 50px;
  width: 10vw;
  height: 4vh;
  background-color: #c62a88;
}

.shareButton:hover {
  margin: 20px;
  border-style: none;
  color: white;
  font-size: 2vh;
  border-radius: 50px;
  height: 4vh;
  background-color: #c62a88;
  animation: shareButton-animation linear 0.3s 1 normal forwards;
}

@keyframes shareButton-animation {
  from {
    background-color: #c62a88;
    width: 10vw;
  }
  to {
    border-color: rgb(129, 18, 255);
    border-style: solid;
    border-width: 1px;
    background-color: #dd73c2;
    width: 15vw;
  }
}

.buyButton {
  margin: 20px;
  border-style: none;
  color: white;
  font-size: 2vh;
  border-radius: 50px;
  width: 10vw;
  height: 4vh;
  background-color: #03c4a1;
}

.buyButton:hover {
  margin: 20px;
  border-style: none;
  color: white;
  font-size: 2vh;
  border-radius: 50px;
  height: 4vh;
  background-color: #03c4a1;
  animation: buyButton-animation linear 0.3s 1 normal forwards;
}

@keyframes buyButton-animation {
  from {
    background-color: #03c4a1;
    width: 10vw;
  }
  to {
    border-color: rgb(18, 188, 255);
    border-style: solid;
    border-width: 1px;
    background-color: #0b7ce6;
    width: 15vw;
  }
}

#artistEventDetails {
  padding: 20px;
  height: 100%;
  background-image: linear-gradient(125deg, #590995, #1a1f2b, #1a1f2b, #03c4a1);
}

.numberOfAttendees {
  padding-left: 2vw;
}

.artistEventLength {
  padding-left: 2vw;
}

.artistEventVenueGallery {
  padding-left: 2vw;
}

/* ---------------------------- Spotify Discovery Details -------------------- */

.artistDescription {
  padding-top: 25vh;
  padding-left: 15vw;
}

/* ---------------------------- Spotify Discovery Details -------------------- */

#discoveryTab {
  height: 10vh;
  margin-top: 2vh;
  margin-bottom: 5vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  border-radius: 20px 0 0 20px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.spotifyDiscoveryTab {
  padding-left: 5vw;
}

.wikipediaDiscoveryTab {
  padding-left: 5vw;
}

/* ----------------------------  Single Artists Page Mobile -------------------- */

@media screen and (max-width: 600px) {
  #singleArtistPage {
    height: 200vh;
    background-image: linear-gradient(
      125deg,
      #590995,
      #1a1f2b,
      #1a1f2b,
      #1a1f2b,
      #03c4a1
    );
    height: 100%;
    color: white;
  }
  .singleArtistPostTitle {
    font-size: 15vh;
  }
  /* ---------------------------- Single Artist Rows -------------------- */
  .singleArtistRow {
    display: grid;
    height: 100vh;
    width: 100vw;
  }
  .singleArtistRow2 {
    display: grid;
    height: 100vh;
    width: 100vw;
  }
  /* ---------------------------- Single Artist Columns -------------------- */
  .singleArtistCol1 {
    height: 50vh;
    width: 100%;
    display: grid;
  }
  .singleArtistCol2 {
    height: 100%;
    width: 100%;
    display: grid;
    background-image: linear-gradient(
      125deg,
      #951909,
      #1a1f2b,
      #1a1f2b,
      #1a1f2b,
      #03c4a1
    );
  }
  .singleArtistCol3 {
    height: 100%;
    width: 100%;
    display: grid;
    background-image: linear-gradient(
      125deg,
      #951909,
      #1a1f2b,
      #1a1f2b,
      #1a1f2b
    );
  }
  .singleArtistCol4 {
    height: 100%;
    width: 100%;
    display: grid;
    background-image: linear-gradient(
      125deg,
      #1a1f2b,
      #1a1f2b,
      #1a1f2b,
      #1e56ce
    );
  }
  /* ---------------------------- Single Artist Details -------------------- */
  .artistCoverImage {
    width: 100%;
  }
  .ArtistEventPrice {
    align-items: right;
  }
  .ArtistEventTime {
  }
  .ArtistEventLocation {
  }
  .numberOfAttendees {
  }
  .artistEventLength {
  }
  .artistEventVenueGallery {
  }
  /* ---------------------------- Spotify Discovery Details -------------------- */
  .artistDescription {
  }
  /* ---------------------------- Spotify Discovery Details -------------------- */
  #discoveryTab {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    padding-left: 0vw;
  }
}

/* --------------------------------------------------------------------------------------------------------  */

/* Single Event Page Styling  */

/* --------------------------------------------------------------------------------------------------------  */

.singleEventPage {
  margin: -32px 0 0 0;
  height: 100%;
  padding-left: 5vw;
  background-image: linear-gradient(
    125deg,
    #590995,
    #1a1f2b,
    #1a1f2b,
    #1a1f2b,
    #03c4a1
  );
  height: 100%;
  color: white;
}

#singleEventPostContent {
  background-color: red;
}

/* --------------------------------------------------------------------------------------------------------  */

/* About Us Page  */

/* --------------------------------------------------------------------------------------------------------  */

#aboutUsPage {
  height: 100vh;
  width: auto;
  background-image: linear-gradient(32deg, #b777e8, #1a1f2b, #1a1f2b, #03c4a1);
  overflow: hidden;
}

/* ---------------------------- About Us Styling -------------------- */

.eventZPanel {
  height: 20vh;
  width: 80vw;
  padding-left: 20vw;
  padding-top: 25vh;
}

#eventZMembersTitle {
  color: white;
  font-size: 20vh;
  position: absolute;
  top: 13vh;
  left: 24vw;
}

.eventZProject {
  background: black;
  color: white;
  font-size: 4vh;
  position: absolute;
  left: 65vw;
  top: 40vh;
  height: 50vh;
  width: 20vw;
  padding: 15px;
}

.video {
  transform: translate(-10vmin, 0);
  z-index: -99;
  width: 860px;
  height: 515px;
}

@keyframes eventZProjectAnimation {
  from {
    top: -50vh;
  }
  to {
    top: 40vh;
  }
}

#eventZProjectLinksTitle {
  transform: translate(5vw, -5vh);
  color: rgb(25, 139, 233);
  font-size: 12vh;
  z-index: 99;
}

.eventZProjectLinks {
  transform: translate(0, -10vh);
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: black;
  z-index: -99;
}

#groupMember {
  color: rgb(157, 25, 233);
  background-image: transparent;
  padding: 20px;
  font-size: 18px;
  animation: groupMemberAnimation linear 4s 1 normal forwards;
}

@keyframes groupMemberAnimation {
  from {
    color: black;
    left: -50vh;
  }
  to {
    color: rgb(233, 25, 122);
    left: 72vh;
  }
}

/* ---------------------------- About Us Page Mobile -------------------- */

@media screen and (max-width: 600px) {
  #aboutUsPage {
    height: 190vh;
  }
  .video {
    width: 100%;
    height: 400px;
    transform: translate(-20vw, -10vh);
  }
  .eventZPanel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #eventZMembersTitle {
    font-size: 12vh;
    top: 24vh;
  }
  .eventZProject {
    transform: translate(-85vw, -50vh);
    width: 100vmin;
    position: relative;
  }
  #eventZProjectLinksTitle {
    transform: translate(-0vw, -30vh);
    font-size: 6vh;
  }
  .eventZProjectLinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
    height: 40vh;
    transform: translate(-20vw, -20vh);
  }
}

/* --------------------------------------------------------------------------------------------------------  */

/* Gallery Page Styling  */

/* --------------------------------------------------------------------------------------------------------  */

.galleryPage {
  margin: -32px 0 0 0;
  width: 100vw;
  background-image: linear-gradient(32deg, #1a1f2b, #1a1f2b, #1a1f2b, #f02e15);
  height: 100vh;
}

.artistNameGallery {
  font-size: 15vh;
  padding-left: 100px;
  color: white;
}

.wrap {
  background-image: linear-gradient(to bottom left, #fb811a -20%, #1a1f2b 20%);
  height: 1000px;
}

.top-left {
  background-image: linear-gradient(180deg, #04c5a2, #1a1f2b);
  height: 200px;
  width: 500px;
}

.top-mid {
  background-image: linear-gradient(180deg, #1a1f2b -30%, #221e33, #eb00ff);
  height: 200px;
  width: 300px;
  margin-left: 24em;
  margin-top: -4em;
}

h1 {
  color: white;
  font-size: 3vw;
  margin-left: 5em;
  margin-top: -2em;
}

h2 {
  color: white;
  margin-left: 10em;
  font-size: 1.5vw;
  margin-top: -4em;
}

h2 span {
  margin-left: 6em;
}

.date {
  margin-left: 0;
  font-size: 1vw;
}

.loc {
  font-size: 1.2vw;
  margin-left: 10em;
}

.one-row {
  margin-left: 46em;
  margin-top: -14em;
}

/* --------------------------------------------------------------------------------------------------------  */

/* 404 Page Styling  */

/* --------------------------------------------------------------------------------------------------------  */

.lostPage {
  display: grid;
  padding-left: 120px;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  height: 100vh;
  background-image: linear-gradient(
    96deg,
    #03c4a1,
    #1a1f2b,
    #1a1f2b,
    #c40337,
    #1a1f2b
  );
  animation-name: page-transistion;
  animation-duration: 3s;
}

@keyframes page-transistion {
  from {
    opacity: 0;
  }
}

#lostPageContent {
  font-size: 8vh;
  margin-left: 20vh;
  display: inline-block;
}

.lostPageButton {
  margin-right: 20vh;
  display: inline-block;
  background-color: rgb(143, 141, 216);
  border: none;
  border-radius: 60px;
  color: white;
  color: linear-gradient(96deg, #03c4a1, #1a1f2b, #1a1f2b, #c40337, #1a1f2b);
  padding: 20px;
  width: 50%;
  font-size: 4vh;
}

.lostPageButton:hover {
  color: #f0109a;
  animation: button-animation linear 4s 1 normal forwards;
}

@keyframes button-animation {
  to {
    width: 100%;
  }
}
