body {
  margin: 0;
  padding: 0;
  background-color: #1a1f2b;
}

a {
  text-decoration: none;
  color: #fff;
}

.navigation {
  height: 110vh;
  margin: 0px 0 0 0;
  padding: 7px 0 0 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  pointer-events: none;
  position: fixed;
  background-image: linear-gradient(to right, #482569, #2a46b2);
  color: rgba(255, 255, 255, 0.5);
  font-size: 200px;
  cursor: pointer;
  margin-top: -100px;
  transition: 0.3s ease-in-out;
}

.menu {
  display: none;
}

.menu-text {
  display: none;
}

.nav-button {
  height: 100px;
  display: grid;
  color: #fff;
  place-items: center;
  transform: rotate(-90deg);
  font-size: 1.6rem;
  pointer-events: auto;
  transition: 0.3s ease-in;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-button:hover {
  transform: rotate(0deg);
}

.navigation:hover {
  width: 150px;
}

.contain {
  overflow: hidden;
}

.page-container {
  overflow: hidden;
  width: 200vmin;
  height: 100vh;
  margin: -32px 0 0 0;
  background: url("assets/title.png");
  background-image: url("assets/background.png");
  padding: 10vh 0 0 20vmin;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.emotionz {
  height: 70vh;
  width: 90vh;
  background: url("assets/title.png");
  animation: horizontal 1s;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.emotionz:hover {
  background: url("assets/harry.png");
  transition: 2s ease-in;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-artist {
  bottom: 0;
  position: fixed;
  transform: translate(80vmin, 20px);
}

#skew {
  height: 70vh;
  width: 37vh;
  background: url("assets/harry.png");
  animation: vertical 1s;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(3deg);
  pointer-events: auto;
}

.sparkles {
  animation: vertical-two 1s;
  width: 300px;
  height: 300px;
  top: -5vh;
  background: url("assets/sparkles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: rotate(10deg);
}

#spark-1 {
  transform: translate(50vmin, -5vh);
}

.spotlight {
  transform: rotate(30deg);
  animation: vertical 1s;
  width: 1000px;
  height: 900px;
  opacity: 0.05;
  background: url("assets/spotlight.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#spotlight {
  transform: translate(60vmin, -20vh) rotate(350deg);
}

@keyframes horizontal {
  from {
    left: -100px;
  }
  to {
    left: 0px;
  }
}
@keyframes horizontal-two {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}
@keyframes vertical {
  from {
    bottom: -50vh;
  }
  to {
    bottom: 0px;
  }
}
@keyframes vertical-two {
  from {
    top: -400px;
  }
  to {
    top: -5vh;
  }
}
@media screen and (max-width: 600px) {
  .navigation {
    display: none;
  }

  #toggle {
    display: none;
  }

  .menu {
    margin: 0 auto;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    bottom: 0;
    transform: translate(42vmin, 45vh);
    position: fixed;
    z-index: 99;
    font-family: "Big Shoulders Stencil Display", cursive;
  }

  .btn {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    overflow: hidden;
    position: absolute;
  }

  .btn {
    background: #03a9f4;
    color: #fff;
    font-size: 1.4em;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .btn:not(:first-child) {
    opacity: 0;
    z-index: -2;
    transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  }

  .btn:nth-child(2) {
    top: 0px;
    transition-delay: 0s;
  }

  .btn:nth-child(3) {
    top: 0px;
    left: 0px;
    transition-delay: 0.1s;
  }

  .btn:nth-child(4) {
    left: 0px;
    transition-delay: 0.2s;
  }

  .btn:nth-child(5) {
    top: 0px;
    left: 0px;
    transition-delay: 0.3s;
  }

  .btn:nth-child(6) {
    top: 0px;
    transition-delay: 0.4s;
  }

  .btn:nth-child(7) {
    top: 0px;
    left: 0px;
    transition-delay: 0.1s;
  }

  .btn:nth-child(8) {
    left: 0px;
    transition-delay: 0.3s;
  }

  .btn:nth-child(9) {
    top: 0px;
    left: 0px;
    transition-delay: 0.2s;
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(2) {
    top: -150px;
    opacity: 1;
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(3) {
    top: -100px;
    left: 100px;
    opacity: 1;
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(4) {
    left: 150px;
    opacity: 1;
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(5) {
    top: 100px;
    left: 100px;
    opacity: 1;
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(6) {
    top: -75px;
    opacity: 1;
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(7) {
    top: -120px;
    left: -75px;
    opacity: 1;
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(8) {
    left: -150px;
    opacity: 1;
  }

  input#toggle:checked ~ #show-menu .btn:nth-child(9) {
    top: -70px;
    left: -130px;
    opacity: 1;
  }

  .menuBtn,
.closeBtn {
    position: absolute;
    transition: all 0.3s ease;
  }

  .closeBtn {
    transform: translateY(50px);
    opacity: 0;
  }

  input#toggle:checked ~ #show-menu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
  }

  input#toggle:checked ~ #show-menu .btn .closeBtn {
    transform: translateY(0px);
    opacity: 1;
  }

  .page-container {
    width: 100%;
    padding: 0;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }

  .emotionz {
    width: 90%;
    height: 40vh;
    animation: vertical-two 1s;
  }

  .home-artist {
    transform: translate(0vmin, 0px);
  }

  #skew {
    height: 50vh;
    width: 30vh;
    transform: skewX(10deg);
    animation: horizontal 1s;
    position: relative;
    z-index: -99;
  }
}
/* --------------------------------------------------------------------------------------------------------  */
/* Events Page  */
/* --------------------------------------------------------------------------------------------------------  */
#eventsPage {
  margin: -32px 0 0 0;
  padding-left: 160px;
  background-image: linear-gradient(125deg, #590995, #1a1f2b, #1a1f2b, #1a1f2b, #03c4a1);
  height: 100%;
  color: white;
}

/* ---------------------------- Events Page Columns -------------------- */
.eventsPageColumnOne {
  width: 70vw;
  display: inline-block;
}

.eventsPageColumnTwo {
  width: 20vw;
  display: inline-block;
  position: fixed;
}

/* ---------------------------- Events Page Title -------------------- */
#eventsTitle {
  padding-left: 50vh;
}

#eventsPageTitle {
  font-size: 80px;
}

#eventsPageSubTitle {
  font-size: 55px;
  padding-left: 20vh;
}

/* ---------------------------- Artist Block -------------------- */
#artistBlockRow {
  width: 100%;
}

#artistBlock {
  display: inline-block;
  margin-left: 80px;
}

/* ---------------------------- Artist Event Side Panel -------------------- */
.artistEventSidePanel {
  display: inline-block;
  width: 100%;
}

.artistGenre {
  width: 100%;
}

#genreName {
  width: 100%;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), white);
}

#artistNameGenre {
  width: 100%;
}

/* ---------------------------- Events Page Mobile -------------------- */
@media screen and (max-width: 600px) {
  #eventsPage {
    padding-left: 20px;
    background-image: linear-gradient(#03c4a1, #1a1f2b, #1a1f2b, #c40337, #1a1f2b);
  }

  #eventsTitle {
    padding-left: 0;
  }

  #eventsPageTitle {
    font-size: 40px;
  }

  #eventsPageSubTitle {
    font-size: 25px;
    padding-left: 15vh;
  }

  #artistBlock {
    margin-left: 5vh;
  }

  .eventsPageColumnTwo {
    display: none;
  }
}
/* --------------------------------------------------------------------------------------------------------  */
/* About Us Page  */
/* --------------------------------------------------------------------------------------------------------  */
#aboutUsPage {
  margin: -32px 0 0 0;
  width: 100vw;
  background-image: linear-gradient(32deg, #B777E8, #1A1F2B, #1A1F2B, #03C4A1);
  height: 100vh;
}

/* ---------------------------- About Us Styling -------------------- */
.eventZPanel {
  height: 20vh;
  width: 80vw;
  padding-left: 20vw;
  padding-top: 25vh;
  position: relative;
}

#eventZMembersTitle {
  color: white;
  font-size: 20vh;
  position: absolute;
  top: 10vh;
  left: 14vw;
}

.eventZProject {
  color: white;
  font-size: 4vh;
  position: absolute;
  left: 75vw;
  height: 50vh;
  width: 20vw;
  animation: eventZProjectAnimation linear 5s 1 normal forwards;
}

@keyframes eventZProjectAnimation {
  from {
    top: -50vh;
  }
  to {
    top: 40vh;
  }
}
.eventZProjectLinks {
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: black;
}

#eventZProjectLinksTitle {
  color: #198be9;
  font-size: 12vh;
  padding-bottom: 50px;
}

#groupMember {
  color: rgb(157, 25, 233);
  background-image: transparent;
  padding: 20px;
  font-size: 18px;
  animation: groupMemberAnimation linear 4s 1 normal forwards;
}

@keyframes groupMemberAnimation {
  from {
    color: black;
    left: -50vh;
  }
  to {
    color: rgb(233, 25, 122);
    left: 72vh;
  }
}
/* ---------------------------- About Us Page Mobile -------------------- */
@media screen and (max-width: 600px) {
  #aboutUsPage {
    margin: -32px 0 0 0;
    height: 100vh;
    background-image: linear-gradient(2deg, #B777E8, #1A1F2B, #1A1F2B, #1A1F2B, #1A1F2B, #03C4A1);
  }

  .eventZPanel {
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-top: 0;
    position: relative;
  }
  #eventZGroupImage {
    width: 380px;
    padding-left: 20px;
    padding-top: 20vh;
  }
  #eventZMembersTitle {
    color: white;
    font-size: 12vh;
  }
  .eventZProject {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 120vh;
    left: 35vw;
    width: 50vw;
    animation: eventZProjectAnimation linear 5s 1 normal forwards;
  }
  @keyframes eventZProjectAnimation {
    from {
      top: -50vh;
    }
    to {
      top: 65vh;
    }
  }
  #eventZProjectLinksTitle {
    color: rgb(25, 139, 233);
    position: absolute;
    font-size: 16px;
    padding-left: 50px;
  }
  .eventZProjectLinks {
    display: flex;
    margin-top: 2vh;
    height: 10vh;
    width: 100%;
    animation: eventZProjectLinksAnimation linear 5s 1 normal forwards;
  }
  @keyframes eventZProjectLinksAnimation {
    from {
      background-color: transparent;
    }
    to {
      background-color: black;
    }
  }
  #groupMember {
    color: rgb(157, 25, 233);
    padding: 8px;
    font-size: 14px;
    animation: groupMemberAnimation linear 4s 1 normal forwards;
  }
}

  #eventZMembersTitle {
    color: white;
    font-size: 12vh;
  }

  .eventZProject {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 120vh;
    left: 35vw;
    width: 50vw;
    animation: eventZProjectAnimation linear 5s 1 normal forwards;
  }

  @keyframes eventZProjectAnimation {
    from {
      top: -50vh;
    }
    to {
      top: 65vh;
    }
  }
  #eventZProjectLinksTitle {
    color: #198be9;
    position: absolute;
    font-size: 16px;
    padding-left: 50px;
  }

  .eventZProjectLinks {
    display: flex;
    margin-top: 2vh;
    height: 10vh;
    width: 100%;
    animation: eventZProjectLinksAnimation linear 5s 1 normal forwards;
  }

  @keyframes eventZProjectLinksAnimation {
    from {
      background-color: transparent;
    }
    to {
      background-color: black;
    }
  }
  #groupMember {
    color: #9d19e9;
    padding: 8px;
    font-size: 14px;
    animation: groupMemberAnimation linear 4s 1 normal forwards;
  }
}
/* --------------------------------------------------------------------------------------------------------  */
/* 404 Page Styling  */
/* --------------------------------------------------------------------------------------------------------  */
.lostPage {
  display: grid;
  padding-left: 120px;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  height: 100vh;
  background-image: linear-gradient(96deg, #03c4a1, #1a1f2b, #1a1f2b, #c40337, #1a1f2b);
  animation-name: page-transistion;
  animation-duration: 3s;
}

@keyframes page-transistion {
  from {
    opacity: 0;
  }
}
#lostPageContent {
  font-size: 8vh;
  margin-left: 20vh;
  display: inline-block;
}

.lostPageButton {
  margin-right: 20vh;
  display: inline-block;
  background-color: #8f8dd8;
  border: none;
  border-radius: 60px;
  color: white;
  color: linear-gradient(96deg, #03c4a1, #1a1f2b, #1a1f2b, #c40337, #1a1f2b);
  padding: 20px;
  width: 50%;
  font-size: 4vh;
}

.lostPageButton:hover {
  color: #f0109a;
  animation: button-animation linear 4s 1 normal forwards;
}

@keyframes button-animation {
  to {
    width: 100%;
  }
}

/* --------------------------------------------------------------------------------------------------------  */
