* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    background-image: linear-gradient(to bottom left,#FB811A -20%, #1A1F2B 20%);
    height: 1000px;
}

.top-left {
    background-image: linear-gradient(180deg,#04C5A2, #1A1F2B);
    height: 200px;
    width: 500px;
}

.top-mid {
    background-image: linear-gradient(180deg, #1A1F2B -30%,#221E33,  #EB00FF);
    height: 200px;
    width: 300px;
    margin-left: 24em;
    margin-top: -4em;
}

h1 {
    color: white;
    font-size: 3vw;
    margin-left: 5em;
    margin-top: -2em;
}

h2 {
    color: white;
    margin-left: 10em;
    font-size: 1.5vw;
    margin-top: -4em;
}

h2 span {
    margin-left: 6em;
}

.date {
    margin-left: 0;
    font-size: 1vw;
}

.loc {
    font-size: 1.2vw;
    margin-left: 10em;
}

.one-row {
    margin-left: 46em;
    margin-top: -14em;
}

.one-row img {
    padding: 1em;
}

.two-row {
    margin-left: 12em;
}

.two-row img {
    padding: 1em;
}